<!-- icon bar -->
<div>
  <!-- icon -->
  <div class="row icon-selected icon-element">
    <div class="col-xs">
      <img src="/images/leftMenu01Chosen.png" alt="map">
    </div>
  </div>
  <div class="row icon-element">
    <div class="col-xs">
      <img src="/images/leftMenu02.png" alt="map">
    </div>
  </div>
  <div class="row icon-element">
    <div class="col-xs">
      <img src="/images/leftMenu03.png" alt="map">
    </div>
  </div>
  <div class="row icon-element">
    <div class="col-xs">
      <img src="/images/leftMenu04.png" alt="map">
    </div>
  </div>
</div>