<header>
    <h2><span>AGENTS</span><i class="pmap-custom l-resize"></i></h2>
    <div role="search">
        <input type="text">
        <button type="button"><i class="pmap-4"></i></button>
    </div>
</header>
<section>
    <div id="stencil"></div>
    <!--<nav region="agents">
    <a href="#">
      <span><i class="pmap-5 olive"></i></span>
      <span>CommandLine</span>
    </a>
    <a href="#">
      <span><i class="pmap-6 orange"></i></span>
      <span>FileServer</span>
    </a>
    <a href="#">
      <span><i class="pmap-6 yellow"></i></span>
      <span>AmazonEC2</span>
    </a>
    <a href="#"><span><i class="pmap-7 purple"></i></span><span>TextEditor</span></a>
  </nav>-->
</section>