[role="vertical-canvas"] {
  width: 100%;
  height: 100%;
  padding-bottom: 114px;
  position: relative;
}

[role="vertical-canvas"] > footer {
  height: 100%;
  width: 100%;
  padding-top: 32px;
  min-height: 114px;
  bottom: 0;
  position: absolute;
  left: 0;
  background-color: #2d2f30;
  border-top: 1px solid #1f2122;
}

/* horizontal canvas */

[role="vertical-canvas"] [role="horizontal-canvas"] {
  position: relative;
  width: 100%;
  height: 100%;
}

[role="vertical-canvas"] [role="horizontal-canvas"] > section {
  width: 100%;
  height: 100%;
  float: left;
  padding-top: 30px;
  padding-bottom: 37px;
}

[role$="bar"] {
  height: 100%;
  background-color: #3c3e41;
  position: absolute;
  top: 0;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] {
  padding-top: 70px;
  resize: horizontal;
  left: 0;
  min-width: 238px;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="right"] {
  min-width: 317px;
  right: 0;
  padding-top: 60px;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header {
  margin-top: -60px;
  height: 60px;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header h2 i {
  left: 0;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header h2 i:before {
  content: "\e903";
  /* !ltr-only */
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"] {
  height: 50%;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"]:before, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"]:after {
  content: " ";
  display: table;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"]:after {
  clear: both;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"] button {
  width: 50%;
  display: block;
  float: left;
  height: 100%;
  line-height: 29px;
  color: #757677;
  background-color: #36393b;
  font-size: 14px;
  cursor: pointer;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"] button:hover, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"] button:active, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"] button.active, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"] button:focus {
  background-color: #4b4f51;
  color: #bbb;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="map-settings-buttons"] button:first-child {
  border-right: 1px solid #1f2122;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] {
  width: 100%;
  height: 24px;
  padding: 0 14px;
  position: absolute;
  bottom: 9px;
  left: 0;
  padding-right: 44px;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"]:before, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"]:after {
  content: " ";
  display: table;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"]:after {
  clear: both;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] input {
  width: 100%;
  height: 100%;
  position: relative;
  top: 3px;
  background-color: transparent;
  border: none;
  color: #bbb;
  font-size: 14px;
  padding: 0 10px;
  float: left;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] input:active, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] input:focus, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] input:hover {
  background-color: #383a3d;
  color: #FFF;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] > button {
  float: right;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #6f6f6f;
  margin-right: -24px;
  font-size: 16px;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] > button:active, [role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] header [role="search"] > button:hover {
  color: #bbb;
}

[role="vertical-canvas"] [role="horizontal-canvas"] [role$="bar"][role*="left"] section {
  height: 100%;
}
