<div class="modal-header">
    <h3 class="modal-title">{{map.name}} Executions</h3>
</div>
<div class="modal-body container">
    <div class="row"style="margin:2%">
        <div class="col-md-2">
             <span>revision</span>
        </div>
        <div class="col-md-4">
          <select class="form-control" data-ng-model="executionKey" ng-change="selectExecutions()">
                 <option value=""> --- all ---</option>
                 <option value="{{key}}" ng-repeat="(key, value) in map.versions">{{ key }}</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 ng-hide="executions && executions.length > 0" class="ng-hide">The are no executions for this version yet</h2>
            <table ng-show="executions && executions.length > 0" class="ng-hide table table-hover table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Date Created</th>
                    <th>Revision</th>
                    <th>Result</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="execution in executions | orderBy: '-date'" style="cursor: pointer;" data-ng-show="$index >= 0" >
                    <td ng-click="showExecution(executions.length - $index - 1)">{{executions.length - $index}}</td>
                    <td ng-click="showExecution(executions.length - $index - 1)">{{execution.date | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    <td ng-click="showExecution(executions.length - $index - 1)">{{execution.resObj.version}}</td>
                    <td ng-click="showExecution(executions.length - $index - 1)">{{showResult(execution)}}</td>
                    <td class="positive" ng-click="showBaseExecutions(executions.length - $index - 1)">Show Execution per base</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>
