doctype html

html
    head
        title Production Map Console
        link(rel="stylesheet", href="/assets/console.css", shim-shadowdom)
        script(src="/assets/console.js")
    body
        production-map-main-window
        production-map-login
