<style shim-shadowdom>
    :host > six-panel::shadow .container {
        padding: 0.5em 0;
        background: -webkit-linear-gradient(#fff, #f0f0f0);
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    }

    :host > six-panel /deep/ > .container {
        padding: 0.5em 0;
        background: -webkit-linear-gradient(#fff, #f0f0f0);
        box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    }

    content::content six-button {
        background: none !important;
        border: none !important;
        border-radius: 0 !important;
        box-shadow: none;
        font-weight: 400;
    }

    content::content six-button:hover {
        color: white !important;
        background: dodgerblue !important;
    }
</style>
<six-panel vertical align="start" justify="start" frame onclick={{ this.parentNode.closePopup }}>
    <content class="content"></content>
</six-panel>