<style shim-shadowdom>
    :host {
        display: block;
        position: relative;
        -webkit-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -o-flex: 1 1 100%;
        flex: 1 1 100%;
        box-sizing: border-box;
        height: 100%;
    }

    six-panel.container {
        width: 100%;
        height: 100%;
    }

    six-panel.buttons {
        -webkit-flex: 0 0 auto;
        -moz-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        -o-flex: 0 0 auto;
        flex: 0 0 auto;
        padding: 0 0.5em 0.5em 72px;
        background: #4b79ff;
        box-shadow: 0 -2px 6px rgba(0,0,0,0.25);
    }

    six-panel.tabs {
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        -o-flex: 1 1 100%;
        flex: 1 1 100%;

        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;

        -webkit-flex-flow: column nowrap;
        -moz-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        -o-flex-flow: column nowrap;
        flex-flow: column nowrap;

    }

    six-panel.tabs /deep/ .container {
        box-sizing: border-box;
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        -o-flex: 1 1 100%;
        flex: 1 1 100%;


        background: white;
    }

    six-button {
        background: none;
        border-radius: 0 0 0.3em 0.3em;
        border: none;
        box-shadow: none;
        color: rgba(255,255,255,0.5);
        position: relative;
        font-weight: 400;
        font-size: 0.7em;
    }

    six-button:hover, six-buton:active {
        background: none;
        color: rgba(255,255,255,0.8);
        box-shadow: none;
    }
    six-button[active] {
        background: white;
        border-top: 1px solid #ffffff;
        box-shadow: none;
        color: black;
        z-index: 1;
    }

    production-map-visual-editor {
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        -o-flex: 1 1 100%;
        flex: 1 1 100%;

        width: 100%;
        height: 100%;
    }

    production-map-code-editor {
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        -o-flex: 1 1 100%;
        flex: 1 1 100%;

        width: 100%;
        height: 100%;
    }

    production-map-markup-editor {
        -webkit-flex: 1 1 100%;
        -moz-flex: 1 1 100%;
        -ms-flex: 1 1 100%;
        -o-flex: 1 1 100%;
        flex: 1 1 100%;

        width: 100%;
        height: 100%;
    }
</style>
<six-panel class="container" vertical>
    <six-panel class="tabs" vertical>
        <six-if condition={{ visualEditorActive }}>
            <production-map-visual-editor></production-map-visual-editor>
        </six-if>

        <six-if condition={{ markupEditorActive }}>
            <production-map-markup-editor></production-map-markup-editor>
        </six-if>

        <six-if condition={{ codeEditorActive }}>
            <production-map-code-editor></production-map-code-editor>
        </six-if>
    </six-panel>
    <six-panel class="buttons" horizontal>
        <six-button onclick={{ activateVisualEditor }} active={{ visualEditorActive }}>Design</six-button>
        <six-button onclick={{ activateMarkupEditor }} active={{ markupEditorActive }}>Markup</six-button>
        <six-button onclick={{ activateCodeEditor }} active={{ codeEditorActive }}>Code</six-button>
    </six-panel>
</six-panel>