<style>
    :host {
        display: inline-block;
    }
</style>
<production-map-dialog>
    <header>
        <h1>Settings</h1>
    </header>

    <six-panel horizontal>
        <six-input placeholder="First Name" value={{ user.name.first }} />
        <six-input placeholder="Last Name" value={{ user.name.last }} />
    </six-panel>

    <six-input placeholder="Email" value={{ user.email }} />
    <six-input placeholder="Phone" value={{ user.phone }} />
    <six-separator />
    <six-input placeholder="Password" type="password" value={{ user.password }} />
    <six-input placeholder="Confirm Password" type="password" value={{ confirmPassword }} />

    <footer>
        <six-button onclick={{ onClickCancel }}>Cancel</six-button>
        <six-button onclick={{ onClickSave }}>Save</six-button>
    </footer>
</production-map-dialog>