<section>
  <h2><i class="pmap-1"></i>Servers</h2>

  <div class="pmap-table search-bar">
    <div class="tbody-wrapper">
      <div class="tbody">
        <div class="tr">
          <div class="cell">
            <div>
              <span>
                Filter by
              </span>
            </div>
            <div>
              <select class="form-control" [(ngModel)]="search.type">
                <option>-- select method --</option>
                <option [ngValue]="1">Name</option>
                <option [ngValue]="2">Architecture</option>
              </select>
            </div>
          </div>
          <div class="cell">
              <input type="text" class="form-control" [(ngModel)]="search.text" />
          </div>
          <div class="cell"><button type="button"><i class="pmap-42"></i></button></div>
        </div>
      </div>
    </div>
  </div>
  <div class="pmap-table">
    <div class="thead-wrapper">
      <div class="thead">
        <div class="tr">
          <div class="cell"><span>Status</span></div>
          <div class="cell"><span class="header-name">Name</span></div>
          <div class="cell"><span class="header-url">IP</span></div>
          <div class="cell"><span class="header-hostname">HostName</span></div>
          <div class="cell"><span class="header-arch">Architecture</span></div>
          <div class="cell"><span class="header-freeSpace">Free Disk Space</span></div>
          <div class="cell"><span class="header-respTime">Response Time</span></div>
        </div>
      </div>
    </div>
    <div class="tbody-wrapper">
      <div class="tbody">
        <div class="tr" *ngFor="let agent of agents">
          <div [hidden]="!agent.alive"><span class="cell"><i class="green server-status"></i></span></div>
          <div [hidden]="agent.alive"><span class="cell"><i class="red server-status"></i></span></div>
          <div class="cell"><span class="server-name">{{ agent.name }}</span></div>
          <div class="cell"><span class="server-url">{{ agent.url }}</span></div>
          <div class="cell"><span class="server-hostname">{{ agent.hostname }}</span></div>
          <div class="cell"><span class="server-arch">{{ agent.arch }}</span></div>
          <div class="cell"><span class="server-freeSpace">{{ agent.freeSpace }}</span></div>
          <div class="cell"><span class="server-respTime">{{ agent.respTime }}</span></div>
        </div>
      </div>
    </div>
  </div>
</section>