h2 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: normal;
  margin: 0 0 24px;
}

h2 i {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

h2 i {
  vertical-align: top !important;
}

.search-bar {
  margin-bottom: 10px;
}

i.green {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #28b671;
}

i.red {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f93815;
}

.cell {
  width: 400px !important;
}

.server-status {
  margin-left: 13px;
}

.server-name {
  padding-left: 23px;
}

.server-url {
  margin-left: 10px;
}

.server-hostname {
  margin-left: -30px;
}

.server-arch {
  margin-left: -25px;
}

.server-freeSpace {
  margin-left: 20px;
}

.server-respTime {
  margin-left:30px;
}


.header-name {
  margin-left: -30px;
}

.header-url {
  margin-left: 10px;
}

.header-hostname {
  margin-left: 10px;
}

.header-arch {
  margin-left: 10px;
}

.header-freeSpace {
  margin-left: 10px;
}

.header-respTime {
  margin-left: 20px;
}
