
@import "reset";
@import (less) "npm:codemirror/addon/hint/show-hint.css";

html {
  width: 100%;
  height: 100%;
  font: 300 15px "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.CodeMirror-hints {
  z-index: 100000;
  position: absolute;
}