

<Tree [nodes]="projectsTree"></Tree>
  <!--<nav region="hierarchy">
    <ul>
      <li class="catalog"><i></i>Tree Top
        <ul>
          <li class="catalog"><i></i>Demo
            <ul>
              <li class="file"><i></i>Glasman</li>
              <li class="file"><i></i>Working map</li>
            </ul>
          </li>
          <li class="catalog"><i></i>Demo
            <ul>
              <li class="file"><i></i>Glasman</li>
              <li class="file"><i></i>Working map</li>
            </ul>
          </li>
          <li class="catalog"><i></i>Demo
            <ul>
              <li class="file"><i></i>Glasman</li>
              <li class="file"><i></i>Working map</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>-->