<div ng-style="{'width': width + 'px', 'height': height + 'px', 'overflow': 'scroll'}" data-ng-mouseup="dropBlock($event)">
	<div id="paper"></div>
</div>
<div>
	<button type="button" class="btn btn-primary" data-ng-click="zoomIn()">zoom in</button>
	<button type="button" class="btn btn-primary" data-ng-click="zoomOut()">zoom out</button>
    <button type="button" ng-show="map.versionIndex != map.versions.length-1 && map.isLocked" class="btn btn-primary ng-hide" ng-click="map.isLocked = !map.isLocked">Edit as new version</button>
</div>