<style>
  :host {
    display: block;
    position: relative;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -o-flex: 1 1 100%;
    flex: 1 1 100%;
    box-sizing: border-box;
    height: 100%;
  }

  div.container {
    width: 100%;
    height: 100%;
  }

  div.buttons {
    padding-top: 10px;
    padding-left: 10px;
    background: #4a4a4a;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
  }

  div.tabs {
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -o-flex: 1 1 100%;
    flex: 1 1 100%;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -o-flex-flow: column nowrap;
    flex-flow: column nowrap;

  }

  div.tabs /deep/ .container {
    box-sizing: border-box;
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -o-flex: 1 1 100%;
    flex: 1 1 100%;

    width: 100%;
    height: 100%;

    background: white;
  }

  pm-visual-editor {
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -o-flex: 1 1 100%;
    flex: 1 1 100%;

    width: 100%;
    height: 100%;
  }

  pm-code-editor {
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -o-flex: 1 1 100%;
    flex: 1 1 100%;

    width: 100%;
    height: 100%;
  }

  pm-xml-editor {
    -webkit-flex: 1 1 100%;
    -moz-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    -o-flex: 1 1 100%;
    flex: 1 1 100%;

    width: 100%;
    height: 100%;
  }

  button[hidden] {
    display: none !important;
  }

  .no-margin-padding {
    margin: 0 !important;
    padding: 0 !important;
  }

  .action-button {
    -webkit-box-shadow: rgba(0, 0, 0, 0.98) 0 1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.98) 0 1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.98) 0 1px 0 0;
    background-color: #EEE;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border: 1px solid #999;
    color: #666;
    font-family: 'Lucida Grande', Tahoma, Verdana, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding: 4px 6px;
  }
</style>
<div class="container no-margin-padding" vertical>
  <div class="tabs" vertical>
    <pm-visual-editor ng-show="viewMode==1" map="map" map-model="map.content" click-mode="clickMode"></pm-visual-editor>
    <pm-xml-editor ng-show="viewMode==2" content="map.content"></pm-xml-editor>
    <pm-code-editor ng-show="viewMode==3"></pm-code-editor>
  </div>
  <div class="buttons" horizontal>
    <button class="action-button" ng-click="viewMode=1" active="{{designer_active}}">Design</button>
    <button class="action-button" ng-click="viewMode=2" active="{{xml_editor_active}}">Markup</button>
    <button class="action-button" ng-click="viewMode=3" active="{{code_editor_active}}">Code</button>
    <button class="action-button" onclick={{ stopMap }} hidden={{ hideStopButton }}>Stop</button>
    <button class="action-button" onclick={{ suspendMap }} hidden={{ hideSuspendButton }}>Suspend</button>
    <button class="action-button" onclick={{ runMap }} hidden={{ hideRunButton }}>Run</button>
    <button class="action-button" onclick={{ resumeMap }} hidden={{ hideResumeButton }}>Resume</button>
  </div>
</div>
