<div region="data-table">
  <header>
    <input type="text"><button type="button"><i class="pmap-4"></i></button>
  </header>
  <section>
    <div class="grid">
      <div class="row">
        <span class="cell">Arik12345679</span>
        <span class="cell">“12345“</span>
        <span class="cell"><i class="red"></i></span>
        <span class="cell"><button type="button"><i class="pmap-27"></i></button></span>
      </div>
      <div class="row">
        <span class="cell">Arik12345679</span>
        <span class="cell">“12345“</span>
        <span class="cell"><i class="red"></i></span>
        <span class="cell"><button type="button"><i class="pmap-27"></i></button></span>
      </div>
      <div class="row">
        <span class="cell">Arik12345679</span>
        <span class="cell">“12345“</span>
        <span class="cell"><i class="red"></i></span>
        <span class="cell"><button type="button"><i class="pmap-27"></i></button></span>
      </div>
      <div class="row">
        <span class="cell">Arik12345679</span>
        <span class="cell">“12345“</span>
        <span class="cell"><i class="red"></i></span>
        <span class="cell"><button type="button"><i class="pmap-27"></i></button></span>
      </div>
      <div class="row">
        <span class="cell">Arik12345679</span>
        <span class="cell">“12345“</span>
        <span class="cell"><i class="red"></i></span>
        <span class="cell"><button type="button"><i class="pmap-27"></i></button></span>
      </div>
    </div>
  </section>
  <footer>
    <button type="button"><i class="pmap-25"></i> Add attribute</button>
  </footer>
</div>
