<header>
  <h2><span>MAP SETTINGS</span><i class="pmap-custom r-resize"></i></h2>
  <div role="map-settings-buttons">
    <button type="button" [class.active]="currentPanel == 0" (click)="selectPanel(0)">Attributes</button>
    <button type="button" [class.active]="currentPanel == 1" (click)="selectPanel(1)">Servers</button>
  </div>
</header>
<section [ngSwitch]="currentPanel">
  <pm-map-attributes [map]="map" *ngSwitchCase="0"></pm-map-attributes>
  <pm-map-servers *ngSwitchCase="1"></pm-map-servers>
</section>
