<div class="pm-header-row">
  <ul class="pm-menu-bar">
    <li class="pm-menu-item"><a ng-click="createProject()">Add Project</a></li>
    <li class="pm-menu-item dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
         aria-expanded="false">
        Map
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li>
          <button type="button" class="btn btn-link" ng-disabled="!map" ng-click="execute_map(map)">Execute Map</button>
        </li>
        <li>
          <button type="button" class="btn btn-link" ng-disabled="!map" ng-click="saveMap(map)">Save Map</button>
        </li>
      </ul>
    </li>
    <li class="pm-menu-item">View</li>
    <li class="pm-menu-item" ng-click="showAdmin()">Admin</li>
    <li class="pm-menu-item">Help</li>
  </ul>
</div>

<div id="mainContent" style="height: 650px; overflow-y: hidden;" ng-init="init()">
  <div resizable on-resize="resizeRight()" side="e" class="pm-left-section" id="pm-left-section">
    <div id="pm-maps" class="pm-box pm-maps">
      <div class="pm-box-title">Maps</div>
      <div class="pm-box-content">
        <js-tree tree-plugins="dnd,sort,search,contextmenu,types"
                 tree-contextmenu="jsTreeContextMenu"
                 tree-data="scope"
                 tree-model="projects"
                 tree-dnd="jsTreeDragConfig"
                 tree-types="jsTreeTypes"
                 tree-core="jsTreeCore"
                 tree-events="changed:onTreeItemClick"
                 context-menu data-target="menu-tree"></js-tree>
      </div>
    </div>
    <div resizable on-resize="resizeMapItems()" side="n" id="pm-map-items" class="pm-box pm-map-items">
      <div class="pm-box-title">Map Items</div>
      <div class="pm-box-content">
        <div ng-show="map" class="pm_block" ng-drag-data="block" data-ng-repeat="block in pm_blocks" droppable
             ng-mousedown="changeMode(block.text)" vertical-scroll="false" ng-drag="true" ng-drag-data="block">
          <img data-ng-src="{{block.img_url}}"/>
          <span>{{block.text}}</span>
        </div>
        <div ng-drag-clone="" data-ng-mouseup="dropElement($event)">
          <div class="pm_block">
            <img data-ng-src="{{clonedData.img_url}}"/>
            <span>{{clonedData.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div resizable on-resize="resizeLeft()" side="e" class="pm-right-section" id="pm-main-content">
    <tabset ng-show="map" style="height:100%">
      <tab>
        <tab-heading>
          {{(map.versionIndex == map.versions.length-1) ? map.name : map.name + '('+(map.versionIndex)+')'}}
          <button class="close closeTab" ng-click="clearMap()" type="button">×</button>
        </tab-heading>
        <div ng-if="map" style="height: 100%;">
          <pm-map-designer map="map" click-mode="block_mode" class="map-designer"
                           view-mode="viewMode"></pm-map-designer>
          <div style="position: absolute; bottom: 5px; right: 0; width:100%;">
            <div class="pull-right">
              <button type="button" ng-show="map.versionIndex != map.versions.length-1 && map.isLocked" class="btn btn-primary ng-hide" ng-click="map.isLocked = !map.isLocked">Edit as new version</button>
              <button data-ng-disabled="btn_disabled || isSaving" type="button"
                      class="btn btn-default has-spinner" ng-class="{'active':isSaving}"
                      data-ng-click="saveMap(map)">
                <span class="spinner"><i class="glyphicon glyphicon-refresh"></i></span>
                save
              </button>
              <button data-ng-disabled="btn_disabled" type="button" class="btn btn-default"
                      data-ng-click="execute_map(map)">
                {{button_text }}
              </button>
            </div>
            <div class="pull-right ng-hide" ng-show="viewMode==1" style="margin-right: 30px;">
              <button class="btn btn-primary" ng-click="zoomMap(1)">Zoom In</button>
              <button class="btn btn-primary" ng-click="zoomMap(-1)">Zoom Out</button>
            </div>
            <div class="pull-left">
              <ul class="nav nav-pills">
                <li role="presentation" ng-class="{active:viewMode==1}"><a ng-click="setDesigner()">Design</a></li>
                <li role="presentation" ng-class="{active:viewMode==2}"><a ng-click="setMarkup()">Markup</a></li>
                <li role="presentation" ng-class="{active:viewMode==3}"><a ng-click="setCode()">Code</a></li>
<!--                 <li role="presentation" ng-class="{active:viewMode==4}"><a ng-click="setLog()">Logs</a></li> -->
              </ul>

            </div>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
  <div class="pm-attributes" id="pm-attributes">
    <div class="pm-box" ng-show="map">
      <div class="pm-box-title">Map Settings</div>
      <div class="pm-box-content">
        <div class="table-responsive">
          <span>Attributes</span>
          <table class="table">
            <tr style="font-weight: bold">
              <td style="width:30%">Name</td>
              <td style="width:20%">type</td>
              <td style="width:30%">Value</td>
              <td style="width:20%"></td>
            </tr>
            <tr data-ng-repeat="attribute in attributes track by $index">
              <td>
                <!-- editable name (text with validation) -->
                <span editable-text="attribute.name" e-name="name" e-form="rowform"
                      onbeforesave="checkName($data, attribute)" e-required>
                  {{ attribute.name || 'empty' }}
                </span>
              </td>
              <td>
              <select ng-model="attribute.type" class="form-control">
                <option value="string">String</option>
                <option value="list">List</option>
              </select>
            </td>
              <td>
                <!-- editable status (select-local) -->
                <span editable-text="attribute.value" e-name="value" e-form="rowform" onbeforesave="checkValue($data)"
                      e-required>
                  {{ attribute.value || 'empty' }}
                </span>
              </td>
              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" ng-show="rowform.$visible"
                      class="form-buttons form-inline" shown="inserted == attribute"
                      onaftersave="saveAttribute(attribute)">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="removeAttribute($index)"
                          class="btn btn-default">
                    cancel
                  </button>
                </form>
                <div ng-show="!rowform.$visible">
                  <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                  <button class="btn btn-danger" ng-click="removeAttribute($index)">del</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button class="btn btn-default" data-ng-disabled="mapLoaded === false" ng-click="addAttribute()">Add
          Attribute
        </button>
      </div>
    </div>
  </div>
</div>

<div class="dropdown" id="menu-tree" style="position: fixed">
  <ul class="dropdown-menu" role="menu">
    <li>
      <a ng-click="createProject()">Add Project</a>
    </li>
  </ul>
</div>

<div id="messages" resizable on-resize="resizeHeight()" side="n" class="footer pm-footer">
  <div class="pm-box">
    <div class="pm-box-title">Messages
      <button class="btn btn-primary" style="right: 0; position: absolute; margin-top: -7px; margin-right: 10px;"
              ng-click="clearMsgs()">Clear
      </button>
    </div>
  </div>
  <div class="table-responsive" style="max-height: calc(100% - 42px); overflow: auto">
    <table class="table table-inverse">
      <thead>
      <tr>
        <th class="col-md-4">Date</th>
        <th class="col-md-8">Message</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="message in messages | orderBy:'date'" ng-class="{danger:message.isErr}" data-ng-dblclick="showMessage(message)">
        <td>{{message.date}}</td>
        <td class="cell-ellipsis">{{message.content}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
