<div class="modal-header">
    <h3 class="modal-title">Command Line</h3>
</div>
<div class="modal-body">
    <input type="file" onchange="angular.element(this).scope().fileChanged(this)" style="margin-bottom: 10px;"/>
	  Commands separated by lines
	  <textarea ui-codemirror="{
	      lineNumbers: true,
	      lineWrapping : true,
	      mode: 'bash'
	    }" data-ng-model="node.data.input" ></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">close</button>
</div>