<div region="data-table">
  <header>
    <input type="text"><button type="button"><i class="pmap-4"></i></button>
  </header>
  <section>
    <div class="grid">
      <div class="row" *ngFor="let server of servers">
        <span class="cell">{{ server.name }}</span>
        <span class="cell"><button type="button" (click)="changeServerStatus(server)"><i [ngClass]="{red: !server.active, green: server.active}"></i></button></span>
      </div>
    </div>
  </section>
  <footer>
    <button type="button"><i class="pmap-25"></i> Add Server</button>
  </footer>
</div>