<div class="modal-header">
    <h3 class="modal-title">{{server.name}}</h3>
</div>
<div class="modal-body container">
	<div class="row">
		<div class="col-md-6">Type:</div>
		<div class="col-md-6">{{server.type}}</div>
	</div>
	<div class="row">
		<div class="col-md-6">Name:</div>
		<div class="col-md-6">
			<input data-ng-model="server.name" type="text" class="form-control" placeholder="name...">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">Url:</div>
		<div class="col-md-6">
			<input data-ng-model="server.serverUrl" type="url" class="form-control" placeholder="url...">
		</div>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="save()">save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">close</button>
</div>