<header>
  <h2>messages</h2>
  <div role="footer-bar">
    <a href="#"><i class="pmap-24 blue"></i> Show Current Map</a>
    <a href="#"><i class="pmap-15 red"></i> Clear All Messages</a>
  </div>
  <i class="pmap-162 f-resize"></i>
</header>
<section>
  <div class="grid">
    <!--  -->
    <div class="row" *ngFor="let msg of messages" >
      <span class="cell">{{msg.date | date:'shortDate'}}</span>
      <!--<span class="cell">15:47</span>-->
      <span class="cell"><i class="red"></i></span>
      <!--<span class="cell">Map name</span>
      <span class="cell">Agent Name</span>-->
      <span class="cell">{{msg.content}}</span>
      <span class="cell"><i class="pmap-23"></i></span>
    </div>
  </div>
</section>
