<div class="modal-header">
    <h3 class="modal-title">Add Action</h3>
</div>
<div class="modal-body">
    <div class="row"style="margin:2%">
        <div class="col-md-3">
             <span>Server:</span>
        </div>
        <div class="col-md-3">
          <select ng-options="server as server.name for server in processServers" data-ng-model="action.server">
            </select>
        </div>
        <div class="col-md-3">
            <span>Timeout:</span>
        </div>
        <div class="col-md-3">
            <input type="number" name="quantity" min="1" max="5" data-ng-model="action.timeout">
        </div>
    </div>
    <div class="row" style="margin:2%">
        <div class="col-md-3">
             <span>Method:</span>
        </div>
        <div class="col-md-3">
             <select data-ng-disabled="action.server === ''" ng-options="method as method.name for method in action.server.methods" data-ng-model="action.method">
            </select>
        </div>
        <div class="col-md-3">
            <span>Timeunit:</span>
        </div>
        <div class="col-md-3">
       		<select data-ng-model="action.timeunit">
              <option value="1">seconds</option>
              <option value="2">minutes</option>
            </select>
        </div>
    </div>
    <div class="row"style="margin:2%">
        <div class="col-md-3">
            <span>Action name:</span>
        </div>
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="name" data-ng-model="action.name">
        </div>
        <div class="col-md-3">
            <span>Retries:</span>
        </div>
        <div class="col-md-3">
            <input type="number" name="quantity" min="1" max="5" data-ng-model="action.retries">
        </div>
    </div>
    <div class="row"style="margin:2%">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <input type="checkbox" name="your-group" value="unit-in-group" data-ng-model="action.mandatory" />  Mandatory Action
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <input type="checkbox" name="your-group" value="unit-in-group" data-ng-model="action.suspend" />  Suspend Action
        </div>
    </div>
    <div class="table-responsive">
      <span>Parameters</span>
      <table class="table table-hover">
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
      <tr data-ng-repeat="param in action.method.params">
        <td>{{param.name}}</td>
        <td editable-text="action.params[param.name]">{{ action.params[param.name] || '' }}
        </td>
      </tr>
      </table>
    </div>
    <button class="btn btn-primary" type="button" ng-click="testAction()">Test Action</button>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="addAction(action)">save</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">cancel</button>
</div>