<div class="pm-header-row">
  <ul class="pm-menu-bar">
    <li class="pm-menu-item"><a ng-click="createProject()">Add Project</a></li>
    <li class="pm-menu-item"><a ng-click="addAgent()">Add Agent</a></li>
    <li class="pm-menu-item dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true"
         aria-expanded="false">
        Map
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><button type="button" class="btn btn-link" ng-disabled="!map" ng-click="execute_map(map)">Execute Map</button></li>
        <li><button type="button" class="btn btn-link" ng-disabled="!map" ng-click="saveMap(map)">Save Map</button></li>
      </ul>
    </li>
    <li class="pm-menu-item">View</li>
    <li class="pm-menu-item" ng-click="showAdmin()">Admin</li>
    <li class="pm-menu-item">Help</li>
  </ul>
</div>

<div id="mainContent" style="height: 650px;" ng-init="init()">
  <div resizable on-resize="resizeRight()" side="e" class="pm-left-section" id="pm-left-section">
    <div id="pm-maps" class="pm-box pm-maps">
      <div class="pm-box-title">Maps</div>
      <div class="pm-box-content">
        <js-tree tree-plugins="dnd,sort,search,contextmenu,types"
                 tree-contextmenu="jsTreeContextMenu"
                 tree-data="scope"
                 tree-model="projects"
                 tree-dnd="jsTreeDragConfig"
                 tree-types="jsTreeTypes"
                 tree-events="changed:onTreeItemClick"
                 context-menu data-target="menu-tree"></js-tree>
      </div>
    </div>
    <div resizable on-resize="resizeMapItems()" side="n" id="pm-map-items" class="pm-box pm-map-items">
      <div class="pm-box-title">Map Items</div>
      <div class="pm-box-content">
        <div ng-show="map" class="pm_block" ng-drag-data="block" data-ng-repeat="block in pm_blocks" droppable
             ng-mousedown="changeMode(block.text)" vertical-scroll="false" ng-drag="true" ng-drag-data="block">
          <img data-ng-src="{{block.img_url}}"/>
          <span>{{block.text}}</span>
        </div>
        <div ng-drag-clone="" data-ng-mouseup="dropElement($event)">
          <div class="pm_block">
            <img data-ng-src="{{clonedData.img_url}}"/>
            <span>{{clonedData.text}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div resizable on-resize="resizeLeft()" side="e" class="pm-right-section" id="pm-main-content">
    <div class="pm-content">
      <tabset ng-if="map">
        <tab heading="{{map.name}}" ng-if="map">
          <pm-map-designer map="map" click-mode="block_mode" class="map-designer"></pm-map-designer>
          <button data-ng-disabled="btn_disabled" type="button" class="btn btn-default"
                  data-ng-click="execute_map(map)" style="position: absolute; bottom: 0; right: 0;"> {{
            button_text }}
          </button>
          <button data-ng-disabled="btn_disabled || isSaving" type="button"
                  class="btn btn-default has-spinner" ng-class="{'active':isSaving}"
                  data-ng-click="saveMap(map)" style="position: absolute; bottom: 0; right: 80px;">
            <span class="spinner"><i class="glyphicon glyphicon-refresh"></i></span>
            save
          </button>
        </tab>
      </tabset>
    </div>
  </div>
  <div class="pm-attributes" id="pm-attributes">
    <div class="pm-box" ng-show="map">
      <div class="pm-box-title">Map Settings</div>
      <div class="pm-box-content">
        <div class="table-responsive">
          <span>Attributes</span>
          <table class="table">
            <tr style="font-weight: bold">
              <td style="width:40%">Name</td>
              <td style="width:40%">Value</td>
              <td style="width:20%"></td>
            </tr>
            <tr data-ng-repeat="attribute in attributes track by attribute.name">
              <td>
                <!-- editable name (text with validation) -->
                <span editable-text="attribute.name" e-name="name" e-form="rowform"
                      onbeforesave="checkName($data, attribute)" e-required>
                  {{ attribute.name || 'empty' }}
                </span>
              </td>
              <td>
                <!-- editable status (select-local) -->
                <span editable-text="attribute.value" e-name="value" e-form="rowform" onbeforesave="checkValue($data)"
                      e-required>
                  {{ attribute.value || 'empty' }}
                </span>
              </td>
              <td style="white-space: nowrap">
                <!-- form -->
                <form editable-form name="rowform" ng-show="rowform.$visible"
                      class="form-buttons form-inline" shown="inserted == attribute"
                      onaftersave="saveAttribute(attribute)">
                  <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                    save
                  </button>
                  <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()"
                          class="btn btn-default">
                    cancel
                  </button>
                </form>
                <div ng-show="!rowform.$visible">
                  <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                  <button class="btn btn-danger" ng-click="removeAttribute($index)">del</button>
                </div>
              </td>
            </tr>
          </table>
        </div>
        <button class="btn btn-default" data-ng-disabled="mapLoaded === false" ng-click="addAttribute()">Add
          Attribute
        </button>
      </div>
    </div>
  </div>
</div>

<div class="dropdown" id="menu-tree" style="position: fixed">
  <ul class="dropdown-menu" role="menu">
    <li>
      <a ng-click="createProject()">Add Project</a>
    </li>
  </ul>
</div>

<div id="messages" resizable on-resize="resizeHeight()" side="n" class="footer pm-footer">
  <div class="pm-box">
    <div class="pm-box-title">Messages</div>
  </div>
  <div class="table-responsive" style="max-height: 200px; overflow: auto">
    <table class="table table-inverse">
      <thead>
      <tr>
        <th>Date</th>
        <th>Message</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="message in messages | orderBy:'date'" data-ng-dblclick="showMessage(message)">
        <td>{{message.date}}</td>
        <td>{{message.content | cut:true:20:' ...'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
