<div class="jumbotron">
  <h1>Production Map Console</h1>
</div>

<div class="row marketing">
  <h4>Execute a Map</h4>
  <form class="form-horizontal">
  <div class="form-group">
    <label for="filename" class="col-sm-2 control-label">File name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" data-ng-model="map.name" id="filename" placeholder="File Name...">
    </div>
  </div>
  <div class="form-group">
    <label for="fileData" class="col-sm-2 control-label">File Content</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" id="fileData" data-ng-model="map.content" placeholder="File Content...."></textarea>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" data-ng-click="execute_map(map)" class="btn btn-primary" data-ng-disabled="btn_disabled">{{ button_text }}</button>
    </div>
  </div>
</form>
</div>
