<div class="modal-header">
    <h3 class="modal-title">Processes</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <span>Process:</span>
            <select ng-options="proc as proc.name for proc in processes" data-ng-model="process">
            </select>
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" data-ng-click="add_process(process)">new process</button>
            <button type="button" class="btn btn-primary" data-ng-click="delete_process(process)">delete process</button>
        </div>
    </div>
    <div class="container" style=";border-style: solid;border-width: 1px;margin-top:5%;margin-buttom:5%;padding:3%">
        <div class="row">
            <div class="col-md-12">
                <input data-ng-model="process.default_execution" type="checkbox" name="your-group" value="unit-in-group" />  Default execution process
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span>Name:</span>
            </div>
            <div class="col-md-3">
                <input data-ng-model="process.name" type="text" class="form-control" placeholder="Text input">
            </div>
            <div class="col-md-3">
                <span>internal order:</span>
            </div>
            <div class="col-md-3">
                <input data-ng-model="process.order" type="number" name="quantity" min="1" max="5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span>Description:</span>
            </div>
            <div class="col-md-10">
                <input data-ng-model="process.description" type="text" class="form-control" placeholder="Text input">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Action owner</th>
                    <th>Order</th>
                    <th>Name</th>
                    <th>last update</th>
                </tr>
                <tr data-ng-repeat="action in process_actions">
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="cancel()">close</button>
</div>