<section>
  <div region="layout-1">
    <nav role="left-menu">
      <h2>Admin</h2>
      <ul>
        <li routerLinkActive="active"><a [routerLink]="['calendar']">Calendar</a></li>
        <li routerLinkActive="active"><a [routerLink]="['servers']">Servers</a></li>
        <li routerLinkActive="active"><a [routerLink]="['agents']">Dedicated Agents</a></li>
        <li routerLinkActive="active"><a [routerLink]="['trigger']">Trigger</a></li>
      </ul>
    </nav>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</section>
